:global{
  .mapContainer{
     padding 20px;
   }
}
.phone-number {
   margin-left 50px

   >img {
      margin-right 10px
      float left
   }
}

.fax {
   margin-left 50px

   >img {
      margin-right 10px
      float left
   }
}

.address {
   margin-left 50px

   >img {
      margin-right 10px
      float left
   }
}

